<h1>Books</h1>

<% @books.each do |book| %>
<section id="id-<%= book.id %>">
<h3>Title: <%= book.title %></h3>
<h5>Pages: <%= book.page_count %></h5>
<h5>Date Published: <%= book.year_published %></h5>
<h5>Authors: <% book.authors.each do |author| %>
  <%= link_to author.name, author_path(author) %>
  <% end %>
<% end %>
